<div class="form-container-login">

<h2>
Login
</h2>

<form action="/auth/login" method="POST" class="form">
    <div class="form-control">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Digite seu email:">
    </div>

    <div class="form-control">
        <label for="password">Digite sua senha:</label>
        <input type="password" name="password" placeholder="Digite sua senha:">
    </div>

    <input class="submit" type="submit" value="Entrar">
</form>

</div>