<div class="container-form">

<h2>
Registro
</h2>

<form action="/auth/register" method="POST" class="form">
    <div class="form-control">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Digite seu email:">
    </div>

    <div class="form-control">
        <label for="password">Digite sua senha:</label>
        <input type="password" name="password" placeholder="Digite sua senha:">
    </div>

    <div class="form-control">
        <label for="confirmpassword">Repetir senha:</label>
        <input type="password" name="confirmpassword" placeholder="Confirme sua senha">
    </div>

    <input class="submit" type="submit" value="Registrar">
</form>

</div>

