<h1 class="home-title">Bem-vindo</h1>

<div class="content-container">
    <p class="content"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dignissimos cupiditate fugit
        dolor ducimus dolores esse, commodi tempore voluptates? Rem facilis dignissimos maiores quia deserunt cum
        accusantium, nemo aut accusamus!
    </p>
</div>